<a href="https://colab.research.google.com/github/hannamakarova/3t_opportunities/blob/main/3t_Opportunities_2018_2025.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np


from google.colab import drive
drive.mount("/content/drive")

# Change directory to your specific folder
%cd /content/drive/MyDrive/3t

# Read the Excel file
data = pd.read_excel("3t_All_Opportunities_2018-2025.xlsx")

# Display the first few rows
data.head()

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).
/content/drive/MyDrive/3t

,Opportunity Number,Owner,3t Division,Client,Opportunity Sector,Region,Country,Total Amount (£),Opportunity Close Date,Status
0,10,Name01,3t - Digital,Client 001,Oil and Gas - Upstream,UK,NaN,0,2020-04-17,Lost
1,100,Name02,3t DS - UK,Client 002,NaN,Middle East,NaN,0,2022-02-18,Lost
2,102,Name02,3t DS - UK,Client 003,Training,Middle East,NaN,0,2022-02-18,Lost
3,10205,Name03,3t DS - MENA,Client 004,Academia (Education),Middle East,Qatar,0,2022-07-14,Won
4,10206,Name04,3t DS - USA,Client 005,Oil and Gas - Upstream,North America,USA,0,2022-08-04,Lost

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6735 entries, 0 to 6734
Data columns (total 10 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Opportunity Number      6735 non-null   object
 1   Owner                   6735 non-null   object
 2   3t Division             6543 non-null   object
 3   Client                  6735 non-null   object
 4   Opportunity Sector      4548 non-null   object
 5   Region                  6735 non-null   object
 6   Country                 5471 non-null   object
 7   Total Amount (£)        6735 non-null   int64
 8   Opportunity Close Date  6162 non-null   datetime64[ns]
 9   Status                  6735 non-null   object
dtypes: datetime64[ns](1), int64(1), object(8)
memory usage: 526.3+ KB

In [ ]:
duplicates = data[data.duplicated()]
print(duplicates)

    Opportunity Number   Owner   3t Division      Client  \
469              10740  Name03  3t DS - MENA  Client 053

         Opportunity Sector       Region               Country  \
469  Oil and Gas - Upstream  Middle East  United Arab Emirates

     Total Amount (£) Opportunity Close Date Status
469                 0             2022-08-31   Lost

In [ ]:
data.drop_duplicates()

,Opportunity Number,Owner,3t Division,Client,Opportunity Sector,Region,Country,Total Amount (£),Opportunity Close Date,Status
0,10,Name01,3t - Digital,Client 001,Oil and Gas - Upstream,UK,NaN,0,2020-04-17,Lost
1,100,Name02,3t DS - UK,Client 002,NaN,Middle East,NaN,0,2022-02-18,Lost
2,102,Name02,3t DS - UK,Client 003,Training,Middle East,NaN,0,2022-02-18,Lost
3,10205,Name03,3t DS - MENA,Client 004,Academia (Education),Middle East,Qatar,0,2022-07-14,Won
4,10206,Name04,3t DS - USA,Client 005,Oil and Gas - Upstream,North America,USA,0,2022-08-04,Lost
...,...,...,...,...,...,...,...,...,...,...
6730,94,Name02,3t DS - UK,Client 103,Oil and Gas - Upstream,Middle East,NaN,0,2022-02-18,Lost
6731,95,Name02,3t DS - UK,Client 1254,NaN,UK,NaN,0,2022-02-18,Lost
6732,98,Name02,3t DS - UK,Client 2339,NaN,Middle East,NaN,0,2022-02-18,Lost
6733,989,Name02,3t DS - UK,Client 2340,NaN,China,NaN,0,2022-02-18,Lost
6734,99,Name02,3t DS - UK,Client 2341,NaN,China,Thailand,0,2022-02-18,Lost

In [ ]:
data['Opportunity Number'] = pd.to_numeric(data['Opportunity Number'], errors='coerce')
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6735 entries, 0 to 6734
Data columns (total 10 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Opportunity Number      6734 non-null   float64
 1   Owner                   6735 non-null   object
 2   3t Division             6543 non-null   object
 3   Client                  6735 non-null   object
 4   Opportunity Sector      4548 non-null   object
 5   Region                  6735 non-null   object
 6   Country                 5471 non-null   object
 7   Total Amount (£)        6735 non-null   int64
 8   Opportunity Close Date  6162 non-null   datetime64[ns]
 9   Status                  6735 non-null   object
dtypes: datetime64[ns](1), float64(1), int64(1), object(7)
memory usage: 526.3+ KB

In [ ]:
data['3t Division'] = data['3t Division'].replace("3t - Digital", "3t Digital")
data['3t Division'] = data['3t Division'].replace("3t - EnerMech", "3t EnerMech")
data['3t Division'] = data['3t Division'].replace("3t - GTSC", "3t GTSC")
data['3t Division'] = data['3t Division'].replace("3t - ALL STOP!", "3t ALL STOP")

data['Opportunity Sector'] = data['Opportunity Sector'].replace("Oil and Gas – Downstream", "Oil and Gas - Downstream")
data['3t Department']= data['3t Division'].str.split("-").str[0]
data['3t Department Type']= data['3t Division'].str.split("-").str[1]
data['Sector']= data['Opportunity Sector'].str.split("-").str[0]
data['Sector Type']= data['Opportunity Sector'].str.split("-").str[1]

data['3t Department Type'].unique()

array([nan, ' UK', ' MENA', ' USA', ' Aberdeen', ' Newcastle',
       ' Powered By', ' Teesside', ' Manchester', ' London'], dtype=object)

In [ ]:
data_clean= data[~((data["3t Division"].isna()) & (data["Opportunity Sector"].isna()) & (data["Status"] == "Lost"))]

data_clean.info()

<class 'pandas.core.frame.DataFrame'>
Index: 6641 entries, 0 to 6734
Data columns (total 14 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Opportunity Number      6640 non-null   float64
 1   Owner                   6641 non-null   object
 2   3t Division             6543 non-null   object
 3   Client                  6641 non-null   object
 4   Opportunity Sector      4548 non-null   object
 5   Region                  6641 non-null   object
 6   Country                 5384 non-null   object
 7   Total Amount (£)        6641 non-null   int64
 8   Opportunity Close Date  6068 non-null   datetime64[ns]
 9   Status                  6641 non-null   object
 10  3t Department           6543 non-null   object
 11  3t Department Type      5264 non-null   object
 12  Sector                  4548 non-null   object
 13  Sector Type             2304 non-null   object
dtypes: datetime64[ns](1), float64(1), int64(1), object(11)
memory usage: 778.2+ KB

In [ ]:
data_clean['Opportunity Sector'].fillna('Unknown', inplace=True)
data_clean['Country'].fillna('Unknown', inplace=True)
data_clean['Client'].fillna('Unknown', inplace=True)
data_clean['3t Division'].fillna('Unknown', inplace=True)

data_clean.isna().sum()

<ipython-input-39-75534dbc5ef1>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_clean['Opportunity Sector'].fillna('Unknown', inplace=True)
<ipython-input-39-75534dbc5ef1>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_clean['Country'].fillna('Unknown', inplace=True)
<ipython-input-39-75534dbc5ef1>:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data_clean['Client'].fillna('Unknown', inplace=True)
<ipython-input-39-75534dbc5ef1>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_clean['Client'].fillna('Unknown', inplace=True)
<ipython-input-39-75534dbc5ef1>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_clean['3t Division'].fillna('Unknown', inplace=True)

Opportunity Number           1
Owner                        0
3t Division                  0
Client                       0
Opportunity Sector           0
Region                       0
Country                      0
Total Amount (£)             0
Opportunity Close Date     573
Status                       0
3t Department               98
3t Department Type        1377
Sector                    2093
Sector Type               4337
dtype: int64

In [ ]:
# data_clean.to_excel('data_clean.xlsx', index=False)

In [ ]:
# 1. Total number of columns
total_columns = data_clean.shape[1]

# 2. Number of numeric columns and their names
numeric_columns = data_clean.select_dtypes(include=['number']).columns

# 3. Number of categorical columns and their names
categorical_columns = data_clean.select_dtypes(include=['object']).columns

# 4. Number of datetime columns and their names
datetime_columns = data_clean.select_dtypes(include=['datetime']).columns

# 5. Number of rows
total_rows = data_clean.shape[0]

#6.
division= data_clean['3t Division'].unique()

#7.
sector= data_clean['Opportunity Sector'].unique()

print(f"Total number of columns: {total_columns}")
print(f"Total number of rows: {total_rows}")
print(f"Number of numeric columns: {len(numeric_columns)}, Names: {numeric_columns.tolist()}")
print(f"Number of categorical columns: {len(categorical_columns)}, Names: {categorical_columns.tolist()}")
print(f"Number of datetime columns: {len(datetime_columns)}, Names: {datetime_columns.tolist()}")

print(f"3t Divisions: {division}")
print(f"Opportunity Sectors: {sector}")

Total number of columns: 14
Total number of rows: 6641
Number of numeric columns: 2, Names: ['Opportunity Number', 'Total Amount (£)']
Number of categorical columns: 11, Names: ['Owner', '3t Division', 'Client', 'Opportunity Sector', 'Region', 'Country', 'Status', '3t Department', '3t Department Type', 'Sector', 'Sector Type']
Number of datetime columns: 1, Names: ['Opportunity Close Date']
3t Divisions: ['3t Digital' '3t DS - UK' '3t DS - MENA' '3t DS - USA'
 '3t Training Services - Aberdeen' '3t EnerMech'
 '3t Training Services - Newcastle' 'Unknown' '3t Managed Services'
 '3t Workforce Solutions' '3t Training Services - Powered By'
 '3t Training Services  - Teesside' '3t Training Services - Manchester'
 '3t GTSC' '3t Training Services - London' '3t ALL STOP']
Opportunity Sectors: ['Oil and Gas - Upstream' 'Unknown' 'Training' 'Academia (Education)'
 'Maritime' 'Engineering or Manufacturing' 'Facilities Management'
 'Healthcare' 'Wind' 'Oil and Gas - Midstream' 'Multisector Other'
 'Multisector TMS' 'Utilities' 'Oil and Gas - Downstream' 'Public Sector'
 'Other Renewables' 'Defence' 'Nuclear' 'Rail and Transport'
 'Misc or Partner or Stakeholder' 'Power Generation' 'Reseller'
 'Construction' 'Mining']